* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

header {
  background-color: rebeccapurple;
}

.body {
  background-image: linear-gradient(
      rgba(145, 88, 202, 0.2),
      rgba(145, 88, 202, 0.5)
    ),
    url(nemu.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 20px 5px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
}

.logo a {
  float: left;
  text-decoration: none;
  padding: 5px 20px;
  color: white;
  border: 1px solid transparent;
  margin: 20px;
  transition: 0.6s ease;
}

.logo a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.navflex {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: white;
  font-size: 70px;
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bton {
  padding: 5px 25px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.bton:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.titletim,
thead,
tbody {
  color: white;
}

.titletim input {
  border: 1px solid #fff;
  margin: 20px;
}

.btntim {
  border: 1px solid transparent;
  background-color: bisque;
  padding: 2px 10px;
}

.btntim:hover {
  background-color: gray;
  color: #fff;
}
